.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #2674a886; 
    color: #ABC4EF; 

    @media (min-width: 576px) {
        flex-direction: row; 
        justify-content: space-between;
    }
}

.title {
    margin-left: 20px;
}

.headertitle {
    font-size: 1.5rem;
    margin-right: 20px; 
}


.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
}

.nameUser{
    color: var(--color-font-homepage);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 576px) {
        font-size: 16px; 
    }
}

.h1 {
    font-family: var(--font-family-League);
    font-weight: 600;
    font-size: 2em;
    color: var(--color-font-homepage);

    @media (max-width: 768px) { 
        font-size: 3em; 
    }

    @media (max-width: 576px) { 
        font-size: 2.5em; 
    }
}

.divHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

}



.divH1Icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.icon {
    height: 65px;
    width: 61px;
    margin-left: 11px;
}


.iconUser {
    width: 44px;
    height: 38px;
}


.divContainerContacts{
        background-color: var(--color-div);
        width: 96%;
        height: 400px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 20px;
        display: flex;
}