.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.errorTitle {
    font-size: 3rem;
    color: #FF5733;
}

.errorMessage {
    font-size: 1.5rem;
    color: #555;
}

.goBackButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.goBackButton:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
