.divForm{
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(38, 116, 168, 0.5254901961);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}